name: CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: npm install
    - name: Run Mocha tests
      id: mocha_test
      run: npm run test:mocha
    - name: Check Mocha test results
      run: |
        if [ ${{ steps.mocha_test.outcome }} == 'success' ]; then
          echo "Mocha tests passed!"
        else
          echo "Mocha tests failed!"
        fi
    - name: Run Jest tests
      id: jest_test
      run: npm run test:jest
    - name: Check Jest test results
      run: |
        if [ ${{ steps.jest_test.outcome }} == 'success' ]; then
          echo "Jest tests passed!"
        else
          echo "Jest tests failed!"
        fi
    - name: Run Node.js assert tests
      id: node_test
      run: node test.js
    - name: Check Node.js assert test results
      run: |
        if [ ${{ steps.node_test.outcome }} == 'success' ]; then
            echo "Node.js assert tests passed!"
        else
            echo "Node.js assert tests failed!"
        fi
    - name: Check all test results
      run: |
        if [ ${{ job.status }} == 'success' ]; then
          echo "All tests passed!"
        else
          echo "Tests failed!"
          exit 1
        fi